.custom-file-button {
  /* Estilos del botón */
  background-color: var(--primary-700); /* Color de fondo, ¡cámbialo! */
  color: white; /* Color del texto */
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer; /* Indica que es clickeable */
  font-family: sans-serif;
  text-align: center;
  display: inline-block;
  transition: background-color 0.3s;
}

/* Estilo al pasar el ratón */
.custom-file-button:hover {
  background-color: #0056b3;
}
