.container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  background-color: var(--secondary-800);
  width: 205vh;
  height: auto;
}
.container-buttons {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 20px 20px;
  gap: 10px;
  background-color: var(--secondary-800);
  width: 205vh;
  height: auto;
}
.container-buttons-others {
  display: flex;
  gap: 10px;
}
.btn-edit button {
  background: transparent;
  color: var(--secondary-300);
  cursor: pointer;
  transition: border-color 0.25s;
  border: 1px solid var(--secondary-600);
}
.btn-edit:hover {
  background: var(--secondary-700);
  border-color: var(--primary-500);
  color: var(--primary-500);
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-700);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--primary-600);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
